@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
    font-weight: normal;
}

.row * {
    font-family: 'Pretendard-Regular';
    font-weight: normal;
}

.input * {
    font-family: 'Pretendard-Regular';
}

#menu_font {
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    font-size: medium;
}

img {
    width: 300px;
    height: 369px;
}

a {
    text-decoration: none;
    color: black;
}

#logo {
    text-decoration: none;
    color: black;
}

#autoImg {
    width: 50px;
    height: 61.5px;
}

p.autoBookInfo {
    text-overflow: ellipsis;
}

/** 자동완성 mark */
mark {
    /* background-color: transparent; */
    background-color: #faf0ff;
    color: red;
}

#bookTitle {
    width:60em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

body::-webkit-scrollbar {
    width: 10px;  
}

body::-webkit-scrollbar-thumb {
    height: 30%; 
    background: #d6d6d6; 
    
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 240, 246, 0.1);  
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background-color: white;
}

.center {
    text-align: center;
}